.home__right {
    width: 60%;
    height: 100vh;
    min-height: var(--min-height);
    max-height: var(--max-height);
    position: absolute;
    right: 0;
}

.home__astronaut {
    width: 176px;
    height: 150px;
}

.home__person {
    width: 93px;
    height: 150px;
}

.home__pot,
.home__satellite {
    width: 91px;
    height: 150px;
}

.home__tea {
    width: 21px;
    height: 150px;
}

.home_layout {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
}